.nav-link{
      color:white;
}

#header {
  position: fixed;
  top:0;
  display: flex;
}



#header li {
  position: relative;
  display: inline;
  float: left;
  margin-right: 40px;
  margin-top: 0px;
  /*display:inline-block;*/
}

.container {
  margin: 2% auto;
  width: 100%;
}

.section {
  /*width: 80%;*/
}

.navbar {
  background-color: #111111;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;

  /*font-family: 'Helvetica-Neue', 'Helvetica', sans-serif;*/
  background-color: #FFFFFF;
  /*border: 40px solid #;*/
  /*color: #777777;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.9em;
  color: #363655;
  /*font-size: 18px;*/
  margin: 0px;
}



.bigfont {
    font-size: 50px;
    font-weight: 900;
    line-height: 1.2em;
    margin-top:10%;
    
}

.content-big {
  font-size:45px;
}

.huge {
  font-size: 60px; 
  font-weight: 600;
  line-height: 1em;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  }

h2 {
  margin-top: 2em;  
  font-size: 2rem; 
  margin-bottom: -0.3em;
}

h3 {
  margin-top: 2em;
  margin-bottom: -1em;
  text-transform: uppercase;
  font-size: 16px;
  color: #777788
}

.fullbleed {
  width: 100%;
}

.outline {
  display: flex;
  justify-content: space-around;
  width: 80%;
  align-self: center;


}

.outline-child {
  flex: 1;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 1em;
}


/*Projects and cards*/

a {
  color: #363655
}

.project {
  display: flex;
  flex-basis: 10px;
  flex-direction: column;
  color: #888888;
  transition: border 0.1s;
  transition: box-shadow 0.2s ease;
  box-shadow: 1px 1px 4px #aaaaaa;
  padding: 20px;
  margin-bottom: 2em;
  border-radius:1%;
  border: 2px solid rgba(0,0,0,0);
}

.project h3 {
    color:#999999;
}

.project:hover {
  box-shadow: 4px 4px 50px #aaaaaa;
  transition: color 1s ease;
  color:black;
  border: 2px solid #dddddd;
}

.project:hover h3{
  transition: color 2s ease;
  color:red;


}

.card-image {
  width: 100%;
  border-radius: 1em;
}

.card-title {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.first {
  margin-top: 150px;
}


@media (max-width: 5000px) {

      .container {
      width: 80%;
      display: flex;
    }

      .bigfont {
        font-size: 5rem;
        margin-top: 16%;
      }

      .content-big {
        font-size: 2rem;
      }

      #header {
        font-size: 3rem;
      }

      body {
		font-size: 2rem;
    line-height: 3.2rem;
	}

    h3 {
      margin-bottom:-2rem;
      font-size:1.5rem;
    }

    h2 {
      font-size: 3rem;
      margin-bottom: -2rem;
    }
	

}

/** LIGHTBOX MARKUP EXPERIMENT **/

.lightbox {


  /** Default lightbox to hidden */
  display: none;

  /** Position and style */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.95);
  overflow: scroll;

}

.lightbox img {
  /** Pad the lightbox image */
  width:100%;
  height:100%;
  
}

.lightbox:target {
  /** Remove default browser outline */
  outline: none;

  /** Unhide lightbox **/
  display: block;
}


