/*super general + resets*/

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin:0px;
  font-size: 32px;
  font-family: helvetica neue;
}

ul {
  list-style: none;
}

h1, h2, h3, p, ul {
margin:0px;
}


/*Header*/

.header {
color:white;
}

.header a {
  top: 20px;
  right:20px;
  float: right;
  position: fixed;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 3rem;
  border:1px solid red;
  background-color: white;
}

/*Utility*/

.container {
  margin-left: 24px;
  width: 90%;
}

.project p {
  margin: 0px;
}



.content-big {
}

.huge {
}

.fullbleed {
  width: 100%;
}

/*Projects and cards*/

.project {
  
}

.project h3 {
    
    color:black;
}

.card-image {
  width: 100%;
  /*border-radius: 1em;*/
}

.card-title {
  border-top: 2px solid black;
  /*margin-top: 0.5em;*/
}

.bio {
  padding: 200px 70px 70px 70px ;
  width: 68%;
}



  


	



/** LIGHTBOX MARKUP EXPERIMENT **/

.grid {
  max-width: 100%;
  justify-content: space-between;
}

.small {
  max-width: 70%
}

.gallery-image {
  width: 100%;
}

.cell img{
  display: block;
  /*border:1px solid blue;*/
}

.doublecell img {
  display: block;
}

@media screen and (min-width: 400px) {



  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    width: 90%;
    margin: auto;
  }
  .cell {
    width: 100%;
  }

  .bio {
    padding: 140px 20px 20px 20px ;
    width: 80%;

  }

  
}

.doublecell {
  width: calc(100%);
}


@media screen and (min-width: 1200px) {
  .cell {
    max-width: calc(100% / 2);
  }

  .grid {
    width: 90%;
    margin:auto;
  }
}

@media screen and (min-width: 1700px) {
  .grid {
    width:70%;
    margin: auto;
  }
}

.container-resp {
  max-width: 1280px;
}



.caption {
  font-size: 20px;
  margin-top: 0px;
  background-color: yellow;
}

.myname {
  float: left;
  font-size: 3rem;
  padding: 12px;
}