.nav-link{
      color:white;
}

.container {
  margin: 5% auto;
  width: 60%;
}

.section {
  /*width: 80%;*/
}

.navbar {
  background-color: #111111;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  background-color: #FFFFFF;
  border: 40px solid #;
  /*color: #777777;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 25px;
  color: #363636;

}

.bigfont {
    font-size: 30px;
    font-weight: 900;
    line-height: inherit;
}

.content-big {

  font-size:45px;

}

.huge {
  font-size: 60px; 
  font-weight: 600;
  line-height: 0.2em;
}

a {color:#aaaaaa;
  text-decoration: none;
  }

a:hover {
  text-decoration: line-through;
}



@media (max-width: 1200px) {

      .section {
      /*width: 90%;*/
      /*background-color:pink; */
    }

      .bigfont {
        font-size: 40px;
      }

      .content-big {
        font-size: 20px;
      }
}







