.nav-link{
      color:white;
}


.navbar {
  background-color: #111111;

}

body {
  font-family: Roboto;
  background-color: black;
  color: #737373;
}

.active {
  animation-duration:0.05s;
  animation-name:rainbow;
  animation-iteration-count: infinite;
}

.bigfont {
    font-size:100px;
    font-weight:900;
}

.spacer{ margin-top:4%;}

.huge {
  animation-duration:5s;
  animation-name:rainbow;
  animation-iteration-count: infinite;
}

hr {background-color:orange;}

@keyframes rainbow {
    0% {color:red;}
    25%  {color:blue;}
    50%  {color:yellow;}
    75%  {color:orange;}
  80% {color:black;}
    81% {color:yellow;}
  81.2% {color:black}
    81.3% {color:black;}
    84% {color:yellow;}
  85% {color:black}
    100% {color:red;}
}

a {color:white}

.rainbowBG:hover{
  animation-duration:0.05s;
  animation-name:rainbowBG;
  animation-iteration-count: infinite;
}

@keyframes rainbowBG {
    0% {background-color:red;}
    25%  {background-color:blue;}
    50%  {background-color:yellow;}
    75%  {background-color:orange;}
  80% {background-color:black;}
    81% {background-color:yellow;}
  81.2% {background-color:black}
    81.3% {background-color:black;}
    84% {background-color:yellow;}
  85% {background-color:black}
    100% {background-color:red;}
}

a:hover {
  color:white;
  font-family:helvetica neue;
}
