<!DOCTYPE html>
<html>
	<head>
		<title>baide ux - work</title>
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/> -->
		<link rel="stylesheet" type="text/css" href="../style.css">
		<link href="https://fonts.googleapis.com/css?family=Muli:600,900" rel="stylesheet">
	</head>
	<body>
		<div id="header">
			<ul>
				<li><a href="work.html">work</a>
			</li>
			<li><a href="about.html">about</a>
			</li>
			<li>writing
			</li>
		</ul>
	</div>

		<div class="container first">
			<h1 class="bigfont">Project Name</h1>
			<h2 class="description">Here is the description of a project</h2>
		</div>

		<div class=grid>
			<div class="cell"><img class="gallery-image" src="../images/ysura-v3/cover-alt3.jpg"></div>
			<div class="cell"><img class="gallery-image" src="../images/ysura-v3/cover-alt3.jpg"></div>
			<div class="cell"><img class="gallery-image" src="../images/ysura-v3/cover-alt3.jpg"></div>
			<div class="cell"><p>Let's see what happens if I write a bunch of text here... It might be awesome or terrible! who knows... Let's see what happens if I write a bunch of text here... It might be awesome or terrible! who knows...Let's see what happens if I write a bunch of text here... It might be awesome or terrible! who knows...Let's see what happens if I write a bunch of text here... It might be awesome or terrible! who knows...Let's see what happens if I write a bunch of text here... It might be awesome or terrible! who knows...Let's see what happens if I write a bunch of text here... It might be awesome or terrible! who knows...</p></div>
			<div class="cell"><img class="gallery-image" src="../images/ysura-v3/cover-alt3.jpg"></div>
			
		</div>
	</body>
</html>